.container {
  position: relative;
  width: 420px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  color: rgb(0, 0, 206);
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}


