.formAddContact {
  width: 400px;
  box-shadow: 0px 0px 8px 0px #23232350;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
}

.inputForm {
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #232323;
  margin-bottom: 20px;
  width: 100%;
  padding: 4px 10px;
  outline: none;
}

.inputForm:focus {
  border: 1px solid rgb(0, 0, 206);
}

label {
  font-size: 20px;
  font-weight: 600;
  color: #232323;
  font-weight: 700;
}

.buttonAdd {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px 0;
  color: #fff;
  background-color: rgba(0, 0, 206, 0.65);
  cursor: pointer;
  outline: none;
  transition: 0.2s linear;
}

.buttonAdd:hover {
  background-color: rgb(0, 0, 206);
}
